body {
    font-family: Trebuchet MS, Helvetica, sans-serif; /* 優先使用 Arial，如果沒有則用 Helvetica，再沒有則用任何無襯線字體 */
}

h1 {
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

p {
    font-family: Trebuchet MS, Helvetica, sans-serif;
}
