    .area-box {
        border: 2px solid #ffffff;
        background-color:  #011b36;
        padding: 20px; /*內邊距*/;
        border-radius: 8px; /* I like round corner^v^*/;
        margin: 20px; /*外邊距*/
    }

    body {
        background-color: #011b36;
        color: #ffffff;
    }

    .touch-lightblue {
        color: #ffffff;
    }

    .touch-lightblue:hover{
        color:aqua
    }

    .touch-purple:hover{
        color:rgb(157, 0, 255)
    }

    .touch-becomeBig{
        font-size: 1rem;
    }

    .touch-becomeBig:hover{
        font-size: 1.3rem;
    }

    .animation{
        transition: all 0.3s ease-out;
    }

    .tooltip-container {
        position: relative;
        cursor: pointer;
        padding: 10px;
        border: 1px dashed #6fb0ff;
        border-radius: 5px;
    }

    .tooltip-text {
        display: none; 
        margin-top: 10px;
        padding: 15px;
        background-color: #1e3a8a;
        border-radius: 5px;
        color: #e2e8f0;
    }

    .tooltip-container:hover .tooltip-text {
        display: block;
        animation: fadeIn 0.5s; 
    }

    @keyframes fadeIn {
        from { 
            opacity: 0; 
        }
        to { 
            opacity: 1; 
        }
    } 
    /*給底下tooltip使用的*/

    @keyframes slideUpFade {
        from {
            opacity: 0;
            transform: translateY(-30px); 
        }
        to {
            opacity: 1;
            transform: translateY(0);    
        }
    }
    /*封面學校照片使用*/

    .img-container img {
        animation: slideUpFade 1.2s ease-out forwards;
    }
